<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Lombok Store</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style1.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style2.css')}}"
    />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style3.css')}}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style4.css')}}"
    />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
          <div
            class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100"
          >
            <a class="navbar-brand brand-logo" href="index.html"
              >Lombok Store</a
            >
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-sort-variant"></span>
            </button>
          </div>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <ul class="navbar-nav mr-lg-4 w-100">
            <li class="nav-item nav-search d-none d-lg-block w-100">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Cari Produk"
                  aria-label="search"
                  aria-describedby="search"
                />
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                id="profileDropdown"
              >
                <img
                  src="{{url_for('static', filename='images/index.jpeg')}}"
                />
                <span class="nav-profile-name">Admin</span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right navbar-dropdown"
                aria-labelledby="profileDropdown"
              >
                <a class="dropdown-item">
                  Pengaturan
                </a>
                <a class="dropdown-item">
                  Keluar
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/forms/basic_elements.html">
                <span class="menu-title">Tambah Produk</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <a href="" class="btn btn-primary">+ Tambah Produk</a>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Image
                          </th>
                          <th>
                            Kode
                          </th>
                          <th>
                            Kategori
                          <th>
                            Nama
                          </th>
                          </th>
                          <th>
                            Harga
                          </th>
                          <th>
                            Jumlah
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-1">
                            <img
                              src="{{url_for('static', filename='images/index.jpeg')}}"
                              alt="image"
                            />
                          </td>
                          <td>
                            ABCD12345
                          </td>
                          <td>
                            Samsung
                          </td>
                          <td>
                            Samsung A10
                          </td>
                          <td>
                            Rp 4.000.000
                          </td>
                          <td>
                            10 PCS
                          </td>
                          <td>
                            <a href="" class="btn btn-success">Edit</a>
                            <a href="" class="btn btn-danger">Hapus</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br><br>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Lanjut</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Kembali</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >Copyright © 2020
                <a href="https://www.urbanui.com/" target="_blank">Lombok Store</a>.
                All rights reserved.</span
              >
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{{url_for('static', filename='js/js1.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="{{url_for('static', filename='js/js2.js')}}"></script>
    <script src="{{url_for('static', filename='js/js3.js')}}"></script>
    <script src="{{url_for('static', filename='js/js4.js')}}"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{{url_for('static', filename='js/js5.js')}}"></script>
    <script src="{{url_for('static', filename='js/js6.js')}}"></script>
    <script src="{{url_for('static', filename='js/js7.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{url_for('static', filename='js/js8.js')}}"></script>
    <script src="{{url_for('static', filename='js/js9.js')}}"></script>
    <script src="{{url_for('static', filename='js/js10.js')}}"></script>
    <script src="{{url_for('static', filename='js/js11.js')}}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
