<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Lombok Store</title>
    {{ fontawesome_html() }}
		<!-- Google font -->

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css')}}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css')}}"/>

		<!-- Font Awesome Icon -->
		<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}"> -->

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
    {% block content%}
		<!-- HEADER -->
		<header>

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="{{url_for('static', filename='images/lombok.png')}}" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Kategori</option>
										<option value="1">Samsung</option>
                    <option value="1">Oppo</option>
                    <option value="1">Xiaomi</option>
                    <option value="1">Vivvo</option>
                    <option value="1">Advance</option>
                    <option value="1">Luna</option>
									</select>
									<input class="input" placeholder="cari produk">
									<button class="search-btn">Cari</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Cart -->
								<div class="dropdown">
									<a href="{{ url_for('keranjang') }}">
										<i class="fa fa-shopping-cart"></i>
										<span>Keranjang</span>
									</a>
								</div>
								<!-- /Cart -->
								<!-- Wishlist -->
								<div>
									<a href="{{url_for('signin')}}">
										<i class="fa fa-user"></i>
										<span>Login</span>
									</a>
								</div>
								<!-- /Wishlist -->
								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Samsung</a></li>
						<li><a href="#">Oppo</a></li>
						<li><a href="#">Xiaomi</a></li>
						<li><a href="#">Vivvo</a></li>
						<li><a href="#">Advance</a></li>
						<li><a href="#">Luna</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{url_for('static', filename='images/product07.png')}}" alt="">
							</div>
							<div class="shop-body">
								<h3>SAMSUNG<br>STORE</h3>
								<a href="#" class="cta-btn">Belanja Sekarang <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{url_for('static', filename='images/product07.png')}}" alt="">
							</div>
							<div class="shop-body">
								<h3>OPPO<br>STORE</h3>
								<a href="#" class="cta-btn">Belanja Sekarang <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{{url_for('static', filename='images/product07.png')}}" alt="">
							</div>
							<div class="shop-body">
								<h3>XIAOMI<br>STORE</h3>
								<a href="#" class="cta-btn">Belanja Sekarang <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Produk Terbaru</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
                  <li class="active"><a data-toggle="tab" href="#tab1">Samsung</a></li>
                  <li><a data-toggle="tab" href="#tab1">Oppo</a></li>
									<li><a data-toggle="tab" href="#tab1">Xiaomi</a></li>
									<li><a data-toggle="tab" href="#tab1">Vivvo</a></li>
                  <li><a data-toggle="tab" href="#tab1">Advance</a></li>
                  <li><a data-toggle="tab" href="#tab1">Luna</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{{url_for('static', filename='images/product07.png')}}" alt="">
												<div class="product-label">
													<span class="new">BARU</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Samsung X10</a></h3>
												<h4 class="product-price">Rp 2.000.000</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn">Tambah Keranjang</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Samsung X10</a></h3>
                        <h4 class="product-price">Rp 2.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Samsung X10</a></h3>
                        <h4 class="product-price">Rp 2.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Samsung X10</a></h3>
                        <h4 class="product-price">Rp 2.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Samsung X10</a></h3>
                        <h4 class="product-price">Rp 2.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->
									</div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<!-- <div id="hot-deal" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>02</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>10</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>34</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">Shop now</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Produk Terlaris</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Samsung</a></li>
									<li><a data-toggle="tab" href="#tab2">Oppo</a></li>
									<li><a data-toggle="tab" href="#tab2">Xiaomi</a></li>
                  <li><a data-toggle="tab" href="#tab2">Vivvo</a></li>
                  <li><a data-toggle="tab" href="#tab2">Advance</a></li>
									<li><a data-toggle="tab" href="#tab2">Luna</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{{url_for('static', filename='images/product07.png')}}" alt="">
												<div class="product-label">
													<span class="new">BARU</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Vivvo V19</a></h3>
												<h4 class="product-price">Rp 4.000.000</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn">Tambah Keranjang</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Vivvo V19</a></h3>
                        <h4 class="product-price">Rp 4.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Vivvo V19</a></h3>
                        <h4 class="product-price">Rp 4.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Vivvo V19</a></h3>
                        <h4 class="product-price">Rp 4.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
                      <div class="product-img">
                        <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                        <div class="product-label">
                          <span class="new">BARU</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <h3 class="product-name"><a href="#">Vivvo V19</a></h3>
                        <h4 class="product-price">Rp 4.000.000</h4>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn">Tambah Keranjang</button>
                      </div>
                    </div>
										<!-- /product -->
									</div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Berlangganan Dengan <strong>KAMI</strong></p>
							<form>
								<input class="input" type="email" placeholder="masukkan email anda">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Langganan</button>
							</form>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Tentang Kami</h3>
								<p>Lombok Store adalah layanan aplikasi jual beli hp baru dan seken pertama di lombok tengah</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fas fa-map-marker"></i>Jln Raya Nyeredep Dasan Baru Kopang Lombok Tengah</a></li>
									<li><a href="#"><i class="fas fa-phone"></i>+62 819-9087-0220</a></li>
									<li><a href="#"><i class="fas fa-envelope"></i>lombokstore@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Kategori</h3>
								<ul class="footer-links">
									<li><a href="#">Samsung</a></li>
									<li><a href="#">Oppo</a></li>
									<li><a href="#">Xiaomi</a></li>
									<li><a href="#">Vivvo</a></li>
                  <li><a href="#">Advance</a></li>
                  <li><a href="#">Luna</a></li>
								</ul>
							</div>
            </div>
            
            <div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Media Sosial</h3>
								<ul class="footer-links">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Instagram</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Layanan</h3>
								<ul class="footer-links">
									<li><a href="#">Akun Saya</a></li>
									<li><a href="#">Lihat Keranjang</a></li>
									<li><a href="#">Keigninan Anda</a></li>
									<li><a href="#">Bantuan</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Lombok Store
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/nouislider.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.zoom.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% endblock%}
	</body>
</html>
