<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Lombok Store</title>
    {{ fontawesome_html() }}
		<!-- Google font -->

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css')}}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css')}}"/>

		<!-- Font Awesome Icon -->
		<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}"> -->

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
    {% extends "index.html"%}
    {% block content%}
		<!-- HEADER -->
		<header>

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="{{url_for('static', filename='images/lombok.png')}}" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Kategori</option>
										<option value="1">Samsung</option>
                    <option value="1">Oppo</option>
                    <option value="1">Xiaomi</option>
                    <option value="1">Vivvo</option>
                    <option value="1">Advance</option>
                    <option value="1">Luna</option>
									</select>
									<input class="input" placeholder="cari produk">
									<button class="search-btn">Cari</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a href="#">
										<i class="fa fa-heart"></i>
										<span>Keigninan Anda</span>
										<div class="qty">2</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Keranjang Saya</span>
										<div class="qty">3</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="{{url_for('static', filename='images/product01.png')}}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="{{url_for('static', filename='images/product02.png')}}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small>3 Item(s) selected</small>
											<h5>SUBTOTAL: $2940.00</h5>
										</div>
										<div class="cart-btns">
											<a href="#">View Cart</a>
											<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->
    
    <!-- SECTION -->
		<div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- ASIDE -->
          <div id="aside" class="col-md-3">
            <!-- aside Widget -->
            <div class="aside">
              <h3 class="aside-title">Kategori</h3>
              <div class="checkbox-filter">

                <div class="input-checkbox">
                  <input type="checkbox" id="category-1">
                  <label for="category-1">
                    <span></span>
                    Samsung
                    <small>(120)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-2">
                  <label for="category-2">
                    <span></span>
                    Oppo
                    <small>(740)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-3">
                  <label for="category-3">
                    <span></span>
                    Xiaomi
                    <small>(1450)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-4">
                  <label for="category-4">
                    <span></span>
                    Vivvo
                    <small>(578)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-5">
                  <label for="category-5">
                    <span></span>
                    Advance
                    <small>(120)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-6">
                  <label for="category-6">
                    <span></span>
                    Luna
                    <small>(740)</small>
                  </label>
                </div>
              </div>
            </div>
            <!-- /aside Widget -->

            <!-- aside Widget -->
            <div class="aside">
              <h3 class="aside-title">Harga</h3>
              <div class="price-filter">
                <div id="price-slider"></div>
                <div class="input-number price-min">
                  <input id="price-min" type="number">
                  <span class="qty-up">+</span>
                  <span class="qty-down">-</span>
                </div>
                <span>-</span>
                <div class="input-number price-max">
                  <input id="price-max" type="number">
                  <span class="qty-up">+</span>
                  <span class="qty-down">-</span>
                </div>
              </div>
            </div>
            <!-- /aside Widget -->
          </div>
          <!-- /ASIDE -->

          <!-- STORE -->
          <div id="store" class="col-md-9">
            <!-- store top filter -->
            <div class="store-filter clearfix">
              <div class="store-sort">
                <label>
                  Urutkan Berdasarkan :
                  <select class="input-select">
                    <option value="0">Terbaru</option>
                    <option value="1">Terlaris</option>
                  </select>
                </label>

                <label>
                  Lihat :
                  <select class="input-select">
                    <option value="0">20</option>
                    <option value="1">50</option>
                  </select>
                </label>
              </div>
              <ul class="store-grid">
                <li class="active"><i class="fa fa-th"></i></li>
                <li><a href="#"><i class="fa fa-th-list"></i></a></li>
              </ul>
            </div>
            <!-- /store top filter -->

            <!-- store products -->
            <div class="row">
              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img">
                    <img src="{{url_for('static', filename='images/product07.png')}}" alt="">
                    <div class="product-label">
                      <span class="new">BARU</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">Oppo Reno 3</a></h3>
                    <h4 class="product-price">Rp 5.500.000</h4>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Tambah Ke Keranjang</button>
                  </div>
                </div>
              </div>
              <!-- /product -->
            </div>
            <!-- /store products -->
          </div>
          <!-- /STORE -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Berlangganan Dengan <strong>KAMI</strong></p>
							<form>
								<input class="input" type="email" placeholder="masukkan email anda">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Langganan</button>
							</form>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Tentang Kami</h3>
								<p>Lombok Store adalah layanan aplikasi jual beli hp baru dan seken pertama di lombok tengah</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fas fa-map-marker"></i>Jln Raya Nyeredep Dasan Baru Kopang Lombok Tengah</a></li>
									<li><a href="#"><i class="fas fa-phone"></i>+62 819-9087-0220</a></li>
									<li><a href="#"><i class="fas fa-envelope"></i>lombokstore@email.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Kategori</h3>
								<ul class="footer-links">
									<li><a href="#">Samsung</a></li>
									<li><a href="#">Oppo</a></li>
									<li><a href="#">Xiaomi</a></li>
									<li><a href="#">Vivvo</a></li>
                  <li><a href="#">Advance</a></li>
                  <li><a href="#">Luna</a></li>
								</ul>
							</div>
            </div>
            
            <div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Media Sosial</h3>
								<ul class="footer-links">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Instagram</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Layanan</h3>
								<ul class="footer-links">
									<li><a href="#">Akun Saya</a></li>
									<li><a href="#">Lihat Keranjang</a></li>
									<li><a href="#">Keigninan Anda</a></li>
									<li><a href="#">Bantuan</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Lombok Store
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/nouislider.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.zoom.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% endblock %}
	</body>
</html>
